<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>EduPredict — IA au service de l’éducation</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="navbar">
  <div class="nav-container">
    <div class="logo">
      🎓 <span>EduPredict</span>
    </div>

    <nav class="nav-links" id="navLinks">
      <a href="/">Accueil</a>
      <a href="/api/predict">Prédire</a>
      <a href="/rate-form">Noter</a>
      <a href="/history">Historique</a>
    </nav>


    <div class="menu-toggle" id="menuToggle">
      ☰
    </div>
  </div>
</header>


  <main class="home">
    <section class="intro">
      <h2>Bienvenue chez EduPredict</h2>
      <p>
        EduPredict est une plateforme intelligente qui permet aux écoles et aux étudiants 
        d’évaluer les professeurs et de prédire la satisfaction future avant même le début d’un cours.
      </p>
    </section>

    <div class="card-container">
      <div class="card">
        <h3>🔮 Prédire la satisfaction d’un futur cours</h3>
        <p>Entrez les informations d’un professeur et découvrez la note estimée par notre IA.</p>
        <a href="/predict-form" class="button">Faire une prédiction</a>
      </div>

      <div class="card">
        <h3>⭐ Noter un professeur</h3>
        <p>Partagez votre expérience et contribuez à l’amélioration continue de l’enseignement.</p>
        <a href="/rate-form" class="button">Noter un professeur</a>
      </div>
    </div>
  </main>

  <footer>
    <p>© 2025 EduPredict — Une innovation EdTech développée à Station F.</p>
  </footer>
  <script src="/static/script.js"></script>
</body>
</html>
